@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $bg-deep;
  font-family: $font-pixel;
  color: $white;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  image-rendering: pixelated;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: $font-pixel;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
